@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-gray-50: oklch(91.68% 0.0098 252.82);
  --color-gray-200: oklch(92.76% 0.0058 264.53);
  --color-gray-300: oklch(95.24% 0.0045 214.33);
  --color-emerald-400: oklch(72.46% 0.143 168.76);
  --color-red-500: oklch(62.38% 0.2277 26.96);
}

.slide {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.scroll::-webkit-scrollbar {
  width: 9px;
  background: var(--color-gray-300);
  border-radius: 4.5px;
  opacity: 0.5;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
  border-radius: 4.5px;
  opacity: 0.5;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-700);
  cursor: pointer;
}
