include ./components/header/header.pug
main(class="container mx-auto")
  .flex(class="lead")

    //- include ./mixin/slide.pug
    //- +slide('./src/assets/img/lead-1.svg', 'CRM-система и интернет-магазин запчастей',
    //- 'в одном',
    //- 'Комплексное решение для продажи запчастей: склад, проценка, работа с поставщиками, статистика, интеграции с другими сервисами — всё в одном!')

//- - var slides = [
//-   ['./src/assets/img/lead-1.svg', 'CRM-система и интернет-магазин запчастей', 'в одном', 'Комплексное решение для продажи запчастей: склад, проценка, работа с поставщиками, статистика, интеграции с другими сервисами — всё в одном!'],
//-   ['./src/assets/img/lead-2.svg', 'CRM-система и интернет-магазин запчастей', 'в одном', 'Комплексное решение для продажи запчастей: склад, проценка, работа с поставщиками, статистика, интеграции с другими сервисами — всё в одном!']
//- ];

//- each slide in slides
//-   +slide(slide[0], slide[1], slide[2], slide[3])
