include ./components/header/header.pug
main(class="container mx-auto")
  .flex(class="lead container w-full lg:max-w-7xl mx-auto lg:px-4")

  include ./mixin/advantage.pug

  .flex.flex-col.py-8.px-4.gap-4(class="advantages sm:flex-row sm:justify-center sm:flex-wrap lg:flex-nowrap lg:max-w-7xl lg:mx-auto lg:gap-8")
    +advantage('./src/assets/img/timer.svg',
    'Программа для магазинов автозапчастей',
    'Начните успешно торговать с&nbsp;нами всего за&nbsp;1&nbsp;час')
    +advantage('./src/assets/img/check.svg',
    'Профессиональная платформа',
    'Более 15&nbsp;лет в&nbsp;разработке систем по&nbsp;продаже запчастей')
    +advantage('./src/assets/img/moneybox.svg',
    'Всего 5&nbsp;500 рублей в&nbsp;месяц',
    'Мы предоставляем максимальный функционал за&nbsp;минимальные деньги на&nbsp;рынке!')

  include ./mixin/card.pug

  .flex.flex-col.m-0(class="cards")
    +card('./src/assets/img/card1.svg',
      'Готовое решение для',
      'продажи запчастей',
      'Начать бесплатно',
        'Начните продавать прямо сейчас, используя программу для автозапчастей от&nbsp;Zplan.',
        'В&nbsp;неё уже включен мощный набор инструментов для успешной продажи автозапчастей. Вам не&nbsp;нужно тратить время и&nbsp;средства на&nbsp;разработку своей системы, продумывать и&nbsp;создавать собственную программу по&nbsp;продаже автозапчастей.',
        'Мы продумываем и&nbsp;разрабатываем Zplan для вашей комфортной и&nbsp;успешной работы на&nbsp;рынке автозапчастей.',
        'Продавайте запчасти правильно и&nbsp;с&nbsp;правильным функционалом, вместе с&nbsp;платформой Zplan.'
    )
    +card('./src/assets/img/card2.svg',
      'Готовый',
      'интернет-магазин автозапчастей',
      'Попробовать все инструменты',
        'Платформа по&nbsp;продаже автозапчастей Zplan включает в&nbsp;себя CMS-систему и&nbsp;полноценный интернет-магазин автозапчастей.',
        'В&nbsp;распоряжении Zplan находится гибкий рабочий стол, который позволяет: <br />— работать с&nbsp;поставщиками,<br />— формировать цены,<br />— вести клиентов.'
    )
    +card('./src/assets/img/card3.svg',
      'Готовая',
      'CRM для автозапчастей',
      'Начать работу',
        'Zplan включает в&nbsp;себя набор функций по работе с&nbsp;поставщиками и&nbsp;его складами, которые позволяют с&nbsp;большой скоростью найти нужное предложение по&nbsp;покупки автозапчастей. А&nbsp;также вести мониторинг автозапчастей — проценку.',
        'Благодаря Zplan Вы сможете быстро выгрузить остатки запчастей и&nbsp;немедленно начать их&nbsp;продажу.'
    )
