mixin slide(img, title, titleSpan, subtitle)

  .slide
    .flex.flex-col.p-4.gap-4(class='lead-slide')
      img.object-cover(src=img, alt='')
      .block
        h1(class="text-3xl text-center font-semibold text-gray-700")=title
        h1(class="text-3xl text-center font-semibold text-emerald-400")=titleSpan
      p(class="text-sm text-center text-gray-700")=subtitle
